on boot
    # create dhcpcd dir
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chmod 0770 /data/misc/dhcp
    chmod 0666 /dev/pvrsrvkm

service omap4-setup /system/etc/init.omap4.sh
    oneshot

# Initialize the SGX driver
service pvrsrvinit /system/bin/pvrsrvinit
    user root
    oneshot

service faketsd /system/bin/faketsd
    user bluetooth
    group bluetooth
    oneshot
